section{
	margin: 50px 50px 50px 50px;
	background-color: lightyellow;
	border: solid 3px;
	width: 90%;
	overflow: hidden;

}
section p{
	padding: 30px 30px 0px 0px;
}

section h2{
	text-align: center;
}
.center{
	text-align: center;
}
body{
	background-color: Moccasin;
}
header{
	height: 130px;
	width: 99%;
	border: solid black;
	background-color: black;
	color: white;
	border: solid 3px lightyellow;
}
hgroup{
    text-align: center;
}
nav{
	width: 100%;
	font-size: 30px;
	text-align: center;
}
nav ul{
	padding-right: 20px;
}
nav li{
	display: inline-block;
	width: auto;
}
nav a{
	text-decoration: none;
	border-bottom: none
	color: black;
}
nav a:hover{
	text-decoration: underline;
	border-bottom: none;
	color: red;
}
article h3{
	text-align: right;
	padding-top: 50px;
	padding-right: 50px;
}
.three{
	columns: 2;
}
div{
	padding: 10px;
}
img{
	padding-left: 30px;
	padding-bottom: 30px;
}
