section{
	margin: 50px 50px 50px 50px;
	height: 500px;
	background-color: lightyellow;
	border: solid 3px;
	width: 90%;

}
section p{
	padding: 30px 30px 0px 0px;
}
.two{
	float: right;
	width: 50%;
}
.one{
	float: left;
	width: 50%;
	padding: 20px 0px 30px 0px;
	text-align: center;
}
section h2{
	text-align: center;
}
.center{
	text-align: center;
}
body{
	background-color: gold;
}
header{
	height: 130px;
	width: 99%;
	border: solid black;
	background-color: black;
	color: white;
	border: solid 3px lightyellow;
}
hgroup{
	padding-right: 100px;
    text-align: center;
}
nav{
	width: 100%;
	font-size: 30px;
	text-align: center;
}
nav ul{
	padding-right: 20px;
}
nav li{
	display: inline-block;
	width: auto;
}
nav a{
	text-decoration: none;
	border-bottom: none
	color: black;
}
nav a:hover{
	text-decoration: underline;
	border-bottom: none;
	color: red;
}
article h3{
	text-align: right;
	padding-top: 50px;
	padding-right: 50px;
}