body {
	background-color: lightblue;
}
table {
	margin: 100px auto;
	width: 50%
}
th {background-color: white;
    border: 3px ridge black;
    padding: 5px;
    }
td {background-color: lightyellow;
    border: 3px ridge black;
    padding: 10px;
}
.lightgray {background-color: lightyellow;}
.gold {background-color: gold}