header{
	height: 130px;
	width: 100%;
	border: solid black;
	background-color: lightblue;
}
hgroup{
	padding-right: 100px;
	padding-top: 1px;
    text-align: right;
    color: white;
}
nav{
	border: solid;
	font-size: 16px;
	background-color: lightyellow;
}
nav ul{
	padding: auto;
}
nav li{
	display: inline-block;
	width: auto;
}
nav a{
	text-decoration: none;
	border-bottom: 1px solid blue;
}
nav a:hover{
	text-decoration: underline;
	border-bottom: none;
	color: gray;
}
footer{
	border:5px inset orange;
}
main{
	width: 100%;
	margin: 0px 2%;
}
aside{
	border: 5px solid magenta;
	padding: 5px;
	width: 24%;
	min-height: 931px;
	height: 100%;
	float: left;
}
#content{
	border: 5px solid gray;
	padding: 5px;
	width: 70%;
	overflow: hidden;
	background-color: lightgray;
	min-height: 931px;
	height: 100%;
}
#clear{
	clear: both;
}
section{
	margin: 20px;
	border: 1px solid olive;
	padding-left: 10px;
	overflow: hidden;
}
article{
	width: 40%;
	float: left;
	justify-content: center;
	margin: 10px;
}
#mycols{
	width: 95% !important;
	text-align: justify;
	columns: 3;
}