body {
	background-color: lightblue;
	padding-left: 30px;
	padding-right: 30px;
}

p {
	color: grey;
	font-family: cursive;
	text-align: justify;
	background-color: lavender;
}
.redtext {color: red}
h1 {
	color: #4B0082;/*индиго*/
	font-family: sans-serif;
	font-size: 3em;
	font-weight: 700;
	text-decoration: underline overline;
	text-align: center;
	background-color: lavender;
}
h2 {
	color: green;
	font-family: sans-serif;
	text-align: center;
	line-height: 2;
	letter-spacing: 0.3em
	background-color: lavender;
}
.pinktext {color: pink}

.blue {color: blue}

table {border: 3px solid gray;
	border-style: double;
	margin: 100px auto;
	width: 50%
}
th {background-color: green;
    border: 3px solid gray;
    padding: 4px
    }
td {background-color: lightgreen;
    border: 1px solid gray;}
