header{
	height: 130px;
	width: 100%;
	border: solid black;
	background-color: black;
	color: white;
}
hgroup{
    text-align: center;
}
nav{
	width: 100%;
	font-size: 16px;
	text-align: center;
}
nav ul{
	padding-right: 20px;
}
nav li{
	display: inline-block;
	width: auto;
}
nav a{
	text-decoration: none;
	border-bottom: 1px solid blue;
}
nav a:hover{
	text-decoration: underline;
	border-bottom: none;
	color: gray;
}
.one{
	margin: 20px;
	border: 1px solid olive;
	padding: 10px;
	overflow: hidden;
	text-align: center;
	background-color: lightblue;
	border: solid 3px;
}
.film{
    margin: 10px 0px 4px 30px;
    padding: 5px 5px 35px 20px;
    columns: 2;
}
img{
    float:left; /* Выравнивание по правому краю  */ 
    margin: 10px 25px 10px 20px; /* Отступы вокруг картинки */
    width: 300px;
    height: 423px;
    border: solid 1px;
}
.film_section{
	columns: 2;
	width: 90%;
}
article p{
	padding: 30px 30px 0px 0px;
}
article h2{
	margin: 30px 30px 0px 0px;
}
body{
	background-color: lightyellow;
}
.back{
	padding: 0px 30px 0px 0px;

}
.back h2{
	text-align: center;
}
footer{
	border:5px inset khaki;
	text-align: center;
	background-color: black;
	color: white;
}
#clear{
	clear: both;
}