.content{
    border: 2px solid black;
    padding: 20px;
    background: lightyellow;
    box-shadow: 5px 5px 5px lightblue;
    margin: 20px;
}

img{
    border: 1px solid black;
}
.flag{
    width: 400px;
}

.planet{
    width: 600px;
    border: none;
}

.info{
    text-align: left;
}

a{
    font-size: 20px;
   
}
body{
    background: url(public/images/bg.jpg);
}